body {
  height: 100%;
  margin: 30px;
  background-image: url('img/weather__app2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Barlow', sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin: 0;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 70%;
}

.search input {
  padding: 15px;
  border: none;
  border-radius: 20px;
  width: 55%;
  opacity: 0.7;
}

.search button {
  border: none;
  border-radius: 100%;
  opacity: 0.7;
}

.search button img {
  width: 22px;
  padding: 10px;
}

.card {
  background-color: #cbc9c987;
  border-radius: 15px;
  padding: 1.5em;
  color: #000;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
}

.card__capital {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  gap: 15px;
}

.card h3 {
  font-size: 21px;
  margin: 0;
}

img.card__icon {
  width: 80px;
}

.card h5 {
  margin: 0;
  font-size: 19px;
  margin-top: 5px;
}

.card__city {
  background-color: #cbc9c987;
  border-radius: 15px;
  margin-top: 30px;
  width: 70%;
  padding: 1.5em;
}

.weather {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details__city {
  text-align: center;
}

.details__city h1 {
  font-size: 80px;
  margin: 0;
  margin-top: 30px;
}

.details__city h2 {
  font-size: 45px;
  margin: 0;
  margin-top: 15px;
}

.details__information {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.col img {
  width: 40px;
}

.humidity,
.wind {
  font-size: 30px;
}

.card__day {
  border-radius: 30px;
  text-align: center;
  width: 100%;
  padding: 10px;
}

.card__title h4 {
  font-size: 25px;
  margin: 0;
}

.day__icon img {
  width: 70px;
}

.day__details h3 {
  font-size: 21px;
  margin: 0;
  margin-top: 15px;
}

.day__information {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.day__col img {
  width: 25px;
}

.day__humidity,
.day__wind {
  font-size: 30px;
}